<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:mysql://localhost/shareForcast</property>
        <property name="connection.username">root</property>
        <property name="connection.password">password</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="maxAge">180000</property>
        <property name="validationQuery">SELECT 1</property>
        <property name="testOnBorrow">true</property>
        <property name="testWhileIdle">true</property>
        <property name="validationInterval">0</property>

        <property name="show_sql">true</property>

        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">validate</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">10</property>
        <property name="current_session_context_class">thread</property>

        <mapping class="shareForcast.model.User" />
        <mapping class="shareForcast.model.ShareKeyword" />
        <mapping class="shareForcast.model.BalanceSheetAttributes" />
        <mapping class="shareForcast.model.BalanceSheetAttributeValues" />
        <mapping class="shareForcast.model.ProfitLossAttributes" />
        <mapping class="shareForcast.model.ProfitLossAttributeValues" />
        <mapping class="shareForcast.model.CashFlowAttributes" />
        <mapping class="shareForcast.model.CashFlowAttributeValues" />
        <mapping class="shareForcast.model.CompanyInfo" />
        <mapping class="shareForcast.model.Period" />
        <mapping class="shareForcast.model.Ratios" />
        <mapping class="shareForcast.model.RatioAttributeValues" />

    </session-factory>
</hibernate-configuration>